_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
bin/
vendor/
Gemfile.lock
PersonalWebsite-*/
.agents/
.codex/
_includes/annotation-mode.html
assets/images/404.jpg
assets/images/SteadyState.png
assets/pdfs/damop-2020.pdf
assets/pdfs/damop-2021.pdf
assets/pdfs/marchmeeting-2021.pdf
