{% assign limit = include.limit | default: site.data.news.size %}
<ol class="news-list">
  {% for item in site.data.news limit: limit %}
    <li>
      <time datetime="{{ item.date | date: '%Y-%m-%d' }}">
        {% if item.display_date %}{{ item.display_date }}{% else %}{{ item.date | date: "%Y.%m.%d" }}{% endif %}
      </time>
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        <span>{{ item.text }}</span>
      {% endif %}
    </li>
  {% endfor %}
</ol>
